<section>
  <div class="side-container"><img src="../../assets/istockphoto-513984990-612x612.jpg" alt="checkout-image"/></div>
  <div class="container">
    <div class="title">Sign in</div>
    <div class="content">
      <form [formGroup]="signInForm">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email Id</span>
            <input type="text" placeholder="Enter your username" required formControlName="emailID">
          </div>

          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" required formControlName="password">
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Sign In" (click)="getUserDetails()">
        </div>
        <div class="sign-up-page"><p>New Here? <span><a [routerLink]="['/sign-up']">Sign Up</a></span></p></div>
      </form>
    </div>
  </div>
</section>