<app-home-navbar></app-home-navbar>
<section>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of showOrderedProducts">
                <td><img src="{{item.productImageUrl}}" alt="product-imge"></td>
                <td>{{item.productTitle}}</td>
                <td>{{item.productQuantity}}</td>
            </tr>
        </tbody>
    </table>
</section>