<section>
    <table class="table table-hover">
        <thead>
            <caption>Loyalty Values</caption>
            <tr>
                <th scope="col">Loyalty Points</th>
                <th scope="col">Discount</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let items of loyaltyList">
                <th scope="row">{{items.levelValue}}</th>
                <td>{{items.cashInValue}}</td>
                <td><input type="number" (keyup)="onKeySetValue($event)"><button (click)="setLoyalty(items.loyaltyId,items.levelValue)">Y</button></td>
            </tr>
        </tbody>
    </table>
</section>