<!-- Navigation-->
<nav>
    <div class="collapsible d-flex justify-content-between">
        <button class="filter-btn btn btn-outline-light" (click)="handleToggle()"><i class="bi bi-filter"></i><p>Filters</p><i *ngIf="!isActive"
                class="bi bi-chevron-down"></i> <i *ngIf="isActive" class="bi bi-chevron-up"></i></button>
        <a class="nav-admin" [routerLink]="['/dashboard']">
            <i class="bi bi-clipboard-data"></i><p>&nbsp;Dashboard</p>
        </a>
        <a class="nav-admin" [routerLink]="['/addProduct']">
            <i class="bi bi-bag-plus-fill"></i><p>&nbsp;Add Product</p>
        </a>
        <a class="nav-admin" [routerLink]="['/locate-product']">
            <i class="bi bi-geo-alt-fill"></i><p>&nbsp;Locate Product</p>
        </a>
        <a class="nav-admin" href='https://webqr.com/' target="#">
            <p><i class="bi bi-back"></i> Scan Product</p>
        </a>
        <button class="logout-btn btn btn-danger" (click)="logOutFromWindow()">
            <mat-icon>logout</mat-icon><p> Log Out</p>
        </button>
    </div>
    <div class="option-pane-search content d-flex-column"
        [ngStyle]="{'height':isActive?'40vh':'0vh','opacity':isActive?'1':'0'}">
        <div class="upper-tag d-flex justify-content-center">
            <img src="../../assets/electronic-img.png" alt="app-logo">
            <form [formGroup]="setFieldsAndQueryForm" class="search-forms">
                <input class="search-bar-custom form-control" placeholder="Search Products" aria-label="Search"
                    formControlName="searchQueryValueFormName">

            </form>
        </div>
        <div class="option-pane d-flex justify-content-between">
            <div class="category">
                <p>| Filter By <i class="bi bi-filter"></i> |</p>
                <button>| Normal |</button>
                <button (click)="selectCategory('men\'s clothing')"> Men </button>
                <button (click)="selectCategory('women\'s clothing')"> Women </button>
                <button (click)="selectCategory('kids')"> Kids </button>
                <button (click)="selectCategory('daily essentials')"> Daily Essentials </button>
            </div>

            <div class="filter">
                <p>| Sort By <i class="bi bi-sort-up"></i> |</p>
                <button>| Normal |</button>
                <button (click)="selectOrderByField('price')"> Price </button>
                <button (click)="selectOrderByField('quantity')"> Quantity </button>
                <button (click)="selectOrderByField('discount')"> Discounts </button>
                <button (click)="selectOrderByField('title')"> Name </button>
            </div>

            <div class="sortManner">
                <p>| Sort Direction <i class="bi bi-arrow-down-up"></i> |</p>
                <button (click)="selectOrderManner('asc')">Lowest to Highest</button>
                <button (click)="selectOrderManner('desc')">Highest to Lowest</button>
            </div>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5" [ngStyle]="{'display':isActive?'none':'block','opacity':isActive?'0':'1'}">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 text-black fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-black-50 mb-0">With this cart checkout</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="custom-section">
    <app-card *ngFor="let item of productsData" [FetchedProducts]="item" [checkTag]="displayToken"></app-card>
</section>
<mat-paginator [length]="productsData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page" (page)="handlePagination($event)">
</mat-paginator>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SuperMarket Checkout App 2023</p>
    </div>
</footer>