section.custom-section {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // background-color: #f0eeed;
  background-color: rgba(249, 249, 249, 0.888);
}

.collapsible-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px;
}

.collapsible-btn:hover {
  color: white;
  border: 1px solid;
  border-color: white;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  justify-content: space-between;
}

.option-pane-search{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content {
  opacity: 0;
  padding: 0 18px;
  height: 0vh;
  overflow: hidden;
  transition-duration: 0.5s;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;

  .upper-tag{
    img{
      width: 5vw;
    }
  }

  .category p,
  .category button,
  .filter p,
  .filter button,
  .sortManner p,
  .sortManner button {
    border: none;
    font-weight: lighter;
    padding: 5px;
    background-color: white;
  }

  .category p:hover,
  .category button:hover,
  .filter p:hover,
  .filter button:hover,
  .sortManner button:hover,
  .sortManner p:hover {
    cursor: pointer;
    font-weight: normal;
  }
}

header {
  margin-top: 30px;
  background: url('https://static.ubertheme.com/blog/2020/9/carousel_examples_and_takeaways/made_carousel.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.6;
  transition-duration: 0.5s;

  .text-center {
    opacity: 0.6;
    color: black;
    background-color: white;
  }
}


a.nav-admin{
  text-decoration: none;
  color:white;
  font-size: 14px;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p{
    margin: 0;
    margin-top: 2px;
  }
}

a.nav-admin:hover{
  font-size: 13px;
  color:rgb(239, 239, 239);
}




button.filter-btn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  p{
    margin: 0;
  }
}

button.logout-btn{
  display: flex;
  font-size: 14px;
  p{
    margin: 0;
  }
}


input.search-bar-custom{
  width: 45vw;
  font-size: 13px;
}

.filter-icon{
  padding-top: 6px;
}

// https://assets-global.website-files.com/605826c62e8de87de744596e/62b5a9572dab880f81c5d178_ajVzMkY7zNN-cU8hLJlTXR93WXkC09AI_0Dm-VBCfWe-kbHdRAAATBpSlNajuRsW7e0jHYCOVjdcHY1Sf-3X4tAI22KAFbbu31rgYGEmgCSV_WUrLFWhWl09ddXm7EhIITjKG0OggdxALfJeGQ.jpeg