<app-home-navbar/>
<section>
  <div class="side-container"><img src="../../assets/how-to-get-your-product-into-supermarkets-and-grocery-stores.webp" alt="checkout-image"/></div>
    <div class="container">
        <div class="title">Request a Product</div>
        <div class="content">
          <form [formGroup]="productUpdateForm">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Product Title</span>
                <input type="text" name="" required="" formControlName="title">
              </div>
              <div class="input-box">
                <span class="details">Quantity</span>
                <input type="number" name="" required="" formControlName="quantity">
              </div>
        
              <div class="input-box">
                <span class="details">Category</span>
                <select formControlName="category">
                  <option value="">Select Category</option>
                  <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
              </div>
              <div class="input-box">
                <span class="details">Description</span>
                <input type="text" name="" required="" formControlName="description">
              </div>
            
            </div>
            <div class="button">
              <input type="submit" value="Request" (click)="submitForm()">
            </div>
          </form>
        </div>
      </div>
    </section>