<app-home-navbar></app-home-navbar>
<section class="cart-view">
    <app-cart-card *ngFor="let item of products" [FetchedProducts]="item" [userId]="userId"
        (handleQuant)="handleIncDecFunctionality($event)" (handleCartRemoval)="handleRemoveProduct()"></app-cart-card>
</section>
<section *ngIf="isReedemed===false" class="checkout-discount">
    <p>Redeem Your Loyalty Points: {{loyaltyBalance}}</p>
    <button class="btn-order-cart btn btn-outline-dark" (click)="changeTotalPrice()">Use Now</button>
</section>
<section class="checkout-view">
    <p>Proceed To Pay: ${{sumTotal}}</p>
    <button class="btn-order-cart btn btn-outline-light" (click)="placeOrder()">PLACE ORDER</button>
</section>