section.cart-view{
    background-color: #f0eeed;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button.btn-order-cart:hover{
    cursor: pointer;
}

.checkout-discount{
    background-color:rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.checkout-view{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}