<app-home-navbar></app-home-navbar>
<section>
    <div class="display-cat">
        <img src="../../assets/essential-img.png" alt="something">
        <div class="essential-cat cat-des">
            <p class="cat-head">Essentials</p>
            <p class="floor-name" id="floor-name-1">1st Floor</p>
            <div class="prod-list">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Hygeine</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Health</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Grocery</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Grooming</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Eatables</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Daily Use Products</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="display-cat">
        <img src="../../assets/woman-img.png" alt="something">
        <div class="women-cat cat-des">
            <p class="cat-head">For Kids</p>
            <p class="floor-name" id="floor-name-2">2nd Floor</p>
            <div class="prod-list">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Jackets</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Footwear</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Shorts | Skirts | Jeans</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Ethnic</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Personal Care</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Grooming</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="display-cat">
        <img src="../../assets/kid-img.png" alt="something">
        <div class="kid-cat cat-des">
            <p class="cat-head">For Kids</p>
            <p class="floor-name" id="floor-name-3">3rd Floor</p>
            <div class="prod-list">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Toys</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Footwear</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Shirts | T-shirts</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Pants | Shorts</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>HealthCare</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Stationary</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="display-cat">
        <img src="../../assets/man-img.png" alt="something">
        <div class="men-cat cat-des">
            <p class="cat-head">For Men</p>
            <p class="floor-name" id="floor-name-4">4th Floor</p>
            <div class="prod-list">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Jackets</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Footwear</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Shirts | T-shirts</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Trousers | Pants | Chinos | Joggers</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Ethnic</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Personal Care</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="display-cat">
        <img src="../../assets/electronic-img.png" alt="something">
        <div class="electronic-cat cat-des">
            <p class="cat-head">Electronics</p>
            <p class="floor-name" id="floor-name-5">5th Floor</p>
            <div class="prod-list">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Mobile</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>PC</p>
                        </div>
                        <div class="flip-card-back">
                            <p>A2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Laptop</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B1</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Lite Appliances</p>
                        </div>
                        <div class="flip-card-back">
                            <p>B2</p>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p>Heavy Appliances</p>
                        </div>
                        <div class="flip-card-back">
                            <p>C1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>