<div style="align-items: center;display: flex;justify-content: space-between;width:40vw" *ngIf="!loader"><mat-spinner style="margin-left: 38%;"></mat-spinner></div>
<section *ngIf="loader">
    <table class="table table-hover">
        <thead>
            <caption>All Reviews</caption>
            <tr>
                <th scope="col">Review Category</th>
                <th scope="col">Review</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let itemz of reviewLists">
                <th scope="row">{{itemz.reviewCategory}}</th>
                <td>{{itemz.review}}</td>
            </tr>
        </tbody>
    </table>
</section>