<div class="announcement-form">
    <form [formGroup]="announcementForm">
        <label for="subject">Subject of Announcement: </label>
        <input class="announce-subject" type="text" formControlName="subject" placeholder="Type subject of the announcement">
        <label for="text">Describe More: </label>
        <textarea class="announce-text" type="textarea" formControlName="text" placeholder="Describe more about the announcement" rows="4" cols="50"></textarea>
    </form>
    <button class="btn btn-outline-dark" (click)="sendAnnouncement()">Send Announcement</button>
</div>