<div style="align-items: center;display: flex;justify-content: space-between;width:40vw" *ngIf="!loader"><mat-spinner style="margin-left: 38%;"></mat-spinner></div>
<section *ngIf="loader">
    <table class="table table-hover">

        <thead>
            <caption>Product Alerts</caption>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of productsData">
                <th scope="row">{{item.title}}</th>
                <td>{{item.quantity}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-light" (click)="onNoClick()">Close</button>
</section>