.display-pane {
    font-family: 'Helvetica Neue';
    display: flex;
    align-items: center;

    margin-top: 40px;

    justify-content: space-between;

    .left-side {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .greetings {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 23vw;
            height: 100px;
            align-items: center;
            display: flex;

            .clock {
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 20px;
                color: white;
                font-size: 25px;
                font-family: Orbitron;
                letter-spacing: 7px;
            }
        }

        .left-side-pane {
            background-color: #212529;
            // height: 62vh;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                width: 23vw;
                display: flex;
                align-items: center;
                color: white;
                text-decoration: none;
                height: 10vh;
                font-size: 15px;
                transition-duration: 70ms;
                p {
                    margin: 0;
                }
            }

            a:hover {
                color: rgb(234, 234, 234);
                font-size: 14px;
                background-color: #101213;
            }
        }


    }

    .right-side-pane {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 73vh;
        margin-right: 10px;
        width: 22vw;

        .product-alerts{
            height: 16vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button.alert-btn{
            //    width: 22vw;
            }
        }

        .month-sale-comparison {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30vh;

            .current-month-sales {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                height: 12vh;
                
                font-size: 18px;
                text-align: center;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .past-month-sales {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                height: 12vh;
        
                font-size: 18px;
                text-align: center;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

        }

        table {
            width: 25vw;
            text-align: center;
        }
    }
}

.table-req {
    margin-right: 20px;
    height: 35vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::-webkit-scrollbar {
    display: none;
}

// .tabs-display{
//     width: 100%;
//     display: flex;
//     align-items: center;
// }
// .tab-content{
//     margin-left: 30vw;
// }