<app-home-navbar></app-home-navbar>

<div class="display-pane">

    <div class="left-side">
        <div class="greetings">
            <h1 class="clock" id="MyClockDisplay"> </h1>
        </div>
        <div class="left-side-pane">
            <a [routerLink]="['/dashboard/order-table']"><span style="margin-left: 10px;"></span><i
                    class="bi bi-bar-chart-fill"></i>
                &nbsp;<p>Visualisation Summary</p>
            </a>
            <a [routerLink]="['/dashboard/category-summary']"><span
                    style="margin-left: 10px;"></span><mat-icon>view_headline</mat-icon>
                <p>Category Wise Items</p>
            </a>
            <a [routerLink]="['/dashboard/order-details']"><span style="margin-left: 10px;"></span><i
                    class="bi bi-calendar"></i>
                &nbsp;<p>Monthly Order Summary</p>
            </a>
            <a [routerLink]="['/dashboard/review']"><span style="margin-left: 10px;"></span><mat-icon>reviews</mat-icon>
                &nbsp; <p>Customer Reviews</p>
            </a>
            <a [routerLink]="['/dashboard/users']"><span
                    style="margin-left: 10px;"></span><mat-icon>account_box</mat-icon>
                &nbsp; <p>Customer Details</p>
            </a>
            <a [routerLink]="['/dashboard/loyalty-points']"><span
                    style="margin-left: 10px;"></span><mat-icon>discount</mat-icon>
                &nbsp; <p>Loyalty Setup</p>
            </a>
        </div>
    </div>

    <div class="middle-pane">
        <router-outlet></router-outlet>
    </div>
    <div class="right-side-pane">

        <div class="product-alerts">
            <button class="alert-btn btn btn-danger" (click)="openProductAlertDialog()">View Product
                Alerts</button>
            <button class="alert-btn btn btn-dark" (click)="openDialog('all')">View Product
                Requests</button>
        </div>

        <a class="alert-btn btn btn-dark" [routerLink]="['/dashboard/month-compare']">Compare Other Month</a>

        <button class="alert-btn btn btn-dark" (click)="openRequestOnboardAlertDialog()">View Onboarding
            Requests</button>
        <button class="alert-btn btn btn-dark" (click)="openSendAnnouncementDialog()">Send Announcements</button>

        <div class="month-sale-comparison">
            <div class="current-month-sales">
                Sales this month
                <br>$ {{currentMonthtotal}}
            </div>

            <div class="past-month-sales">
                Sales past month
                <br>$ {{pastMonthTotal}}
            </div>
        </div>
    </div>
</div>