.display-pane {
    font-family: 'Helvetica Neue';
    display: flex;
    align-items: center;

    margin-top: 40px;

    justify-content: space-between;

    .left-side {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;

        .greetings {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 250px;
            height: 100px;
            align-items: center;
            display: flex;
            margin-left: 20px;

            .clock {
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 20px;
                color: black;
                font-size: 25px;
                font-family: Orbitron;
                letter-spacing: 7px;
            }
        }

        .left-side-pane {
            height: 62vh;
            color: white;
            margin-left: 20px;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            padding: 10px;

            a {
                display: flex;
                color: white;
                text-decoration: none;
                list-style: none;
                font-size: 15px;
                transition-duration: 70ms;
                p {
                    margin: 0;
                }
            }

            a:hover {
                color: rgb(234, 234, 234);
                font-size: 14px;
            }
        }

    }

    .right-side-pane {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 77vh;

        .product-alerts{
            button.alert-btn{
               width: 25vw;
            }
        }

        .month-sale-comparison {
            display: flex;
            justify-content: space-between;
            margin-right: 20px;


            .current-month-sales {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 12vw;
                height: 120px;
                margin-bottom: 10px;
                font-size: 18px;
                text-align: center;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

            .past-month-sales {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                width: 12vw;
                margin-bottom: 10px;
                font-size: 18px;
                height: 120px;
                text-align: center;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
            }

        }

        table {
            width: 25vw;
            text-align: center;
        }
    }
}

.table-req {
    margin-right: 20px;
    height: 35vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::-webkit-scrollbar {
    display: none;
}