<nav>
    <div class="collapsible d-flex justify-content-between">
        <button class="btn btn-outline-light btn-filter" (click)="handleToggle()"><i class="bi bi-filter"></i>Filters
            &nbsp;<i *ngIf="!isActive" class="bi bi-chevron-down"></i> <i *ngIf="isActive"
                class="bi bi-chevron-up"></i></button>
        <a class="nav-user" href='https://webqr.com/' target="#">
            <p><i class="bi bi-back"></i> Scan Product</p>
        </a>
        <a class="nav-user" [routerLink]="['/locate-product']">
            <p><i class="bi bi-geo-alt-fill"></i> Locate Products</p>
        </a>
        <a class="nav-user" [routerLink]="['/post-review']">
            <i class="bi bi-sticky"></i> &nbsp;Post Review
        </a>
        <a class="nav-user" [routerLink]="['/product-request']"><i class="bi bi-bag-dash"></i>&nbsp;Product
            Request</a>
        <a class="nav-user" [routerLink]="['/order-history']">
            <i class="bi bi-clock-history"></i> &nbsp;Order History
        </a>
        <a class="nav-user" [routerLink]="['/brand-onboarding']">
            <i class="bi bi-arrow-bar-up"></i>&nbsp;Brand Onboarding
        </a>
        <button class="cart-btn" [routerLink]="['/cart']">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span id="cart-pill-number" class="badge bg-dark text-white ms-1 rounded-pill"></span>
        </button>
        <div class="last-btns">
            <button class="logout-btn btn btn-danger" (click)="logOutFromWindow()">
                <mat-icon>logout</mat-icon>Log
                Out</button>
        </div>
    </div>
    <div class="option-pane-search content d-flex-column"
        [ngStyle]="{'height':isActive?'40vh':'0vh','opacity':isActive?'1':'0'}">
        <div class="upper-tag d-flex justify-content-center">
            <img src="../../assets/electronic-img.png" alt="app-logo">
            <form [formGroup]="setFieldsAndQueryForm" class="search-forms">
                <input class="search-bar-custom form-control" placeholder="Search Products" aria-label="Search"
                    formControlName="searchQueryValueFormName">
            </form>
        </div>
        <div class="option-pane d-flex justify-content-between">
            <div class="category">
                <p>| Filter By <i class="bi bi-filter"></i> |</p>
                <button>| Normal |</button>
                <button (click)="selectCategory('men\'s clothing')"> Men </button>
                <button (click)="selectCategory('women\'s clothing')"> Women </button>
                <button (click)="selectCategory('kids')"> Kids </button>
                <button (click)="selectCategory('daily essentials')"> Daily Essentials </button>
            </div>

            <div class="filter">
                <p>| Sort By <i class="bi bi-sort-up"></i> |</p>
                <button>| Normal |</button>
                <button (click)="selectOrderByField('price')"> Price </button>
                <button (click)="selectOrderByField('quantity')"> Quantity </button>
                <button (click)="selectOrderByField('discount')"> Discounts </button>
                <button (click)="selectOrderByField('title')"> Name </button>
            </div>

            <div class="sortManner">
                <p>| Sort Direction <i class="bi bi-arrow-down-up"></i> |</p>
                <button (click)="selectOrderManner('asc')">Lowest to Highest</button>
                <button (click)="selectOrderManner('desc')">Highest to Lowest</button>
            </div>
        </div>
    </div>
</nav>
<!-- Header -->
<header class="bg-dark py-5" [ngStyle]="{'display':isActive?'none':'block','opacity':isActive?'0':'1'}">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 text-black fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-black-50 mb-0">With this cart checkout</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="custom-section">
    <app-card *ngFor="let item of productsData" [FetchedProducts]="item" [checkTag]="displayToken"
        (cartTrigger)="handleCartIcon($event)"></app-card>
</section>
<mat-paginator [length]="productsData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page" (page)="handlePagination($event)">
</mat-paginator>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SuperMarket Checkout App 2023</p>
    </div>
</footer>