nav {
  a {
    color: white;
  }
}

button.generic-btn {
  border: none;
}

section.custom-section {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // background-color: #f0eeed;
  background-color: rgba(249, 249, 249, 0.888);
}

.collapsible-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px;
}

.collapsible-btn:hover {
  color: white;
  border: 1px solid;
  border-color: white;
}

.option-pane-search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  justify-content: space-between;
}

.content {
  opacity: 0;
  padding: 0 18px;
  height: 0vh;
  overflow: hidden;
  transition-duration: 0.5s;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;

  .upper-tag {
    img {
      width: 5vw;
    }

    form {
      margin-left: 10vw;
      width: 30vw;
    }
  }

  .category p,
  .category button,
  .filter p,
  .filter button,
  .sortManner p,
  .sortManner button {
    border: none;
    font-weight: lighter;
    padding: 5px;
    background-color: white;
  }

  .category p:hover,
  .category button:hover,
  .filter p:hover,
  .filter button:hover,
  .sortManner button:hover,
  .sortManner p:hover {
    cursor: pointer;
    font-weight: normal;
  }
}

header {
  margin-top: 30px;
  background: url('https://static.ubertheme.com/blog/2020/9/carousel_examples_and_takeaways/made_carousel.png');
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.6;
  transition-duration: 0.5s;

  .text-center {
    opacity: 0.6;
    color: black;
    background-color: white;
  }
}

.last-btns {
  display: flex;
  justify-content: space-around;

  .btn {
    margin-left: 5px;
  }
}

a.nav-user {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    margin: 0;
    margin-top: 2px;
  }
}

a.nav-user:hover {
  font-size: 13px;
  color: rgb(239, 239, 239);
}

input.search-bar-custom {
  width: 40vw;
  font-size: 13px;
  margin-left: -10vw;
}


.btn-filter {
  font-size: 14px;
}

.cart-btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  transition-duration: 100ms;
}

.cart-btn:hover {
  cursor: pointer;
  font-size: 13px;
  color: rgb(223, 223, 223);
}

button.logout-btn {
  display: flex;
  font-size: 14px;

  p {
    margin: 0;
  }
}
