<section class="order-details">
    <h5>Monthly Orders</h5>
    <div class="table-pane">
        <table class="table table-hover">

            <thead>
                <caption>January Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of janOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>February Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of febOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>March Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of marchOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>April Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of aprilOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>May Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of mayOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>June Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of juneOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>July Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of julyOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>August Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of augustOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>September Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of septOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>October Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of octOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>November Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of novOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-hover">

            <thead>
                <caption>December Data</caption>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Shopping Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemz of decOrders">
                    <th scope="row">{{itemz.orderID}}</th>
                    <td>{{itemz.totalMoney}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</section>